body {
    font-family: Arial, sans-serif;
    background-image: url('images/backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: gray;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.chat-header {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.chat-box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 350px;
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message.user {
    text-align: right;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chat-message.assistant {
    text-align: left;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chat-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-input-container input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input-container button:hover {
    background-color: #0056b3;
}
